{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}
<h1>All Posts</h1>
<hr>
<a href="/posts/newPost" class="btn btn-primary">Create a new Post</a>
<br>
<br>
<br>
{% for post in posts %}
<div class="card">
    <div class="card-header">
        {% if post.author %}
        By : {{post.author}}
        {% else %}
        By : N/A
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <a href='/posts/delete/{{post.id}}' class="btn btn-danger">Delete</a>
        <a href='/posts/edit/{{post.id}}' class="btn btn-success">Edit</a>
    </div>
</div>




<hr>
<br>
{% endfor %}
{% endblock %}